---
import Navbar from "./components/Navbar.astro";
import SEO from "@components/SEO.astro";
import Layout from "@layouts/RootLayout.astro";
import { Image } from "astro:assets";
import ArrowDownImage from "@assets/img/arrow-down.svg";
import HeroImage from "@assets/img/hero.svg";
import OfferCard from "./components/OfferCard.astro";
import WebsiteImage from "@assets/img/website.svg";
import EmailImage from "@assets/img/email.svg";
import BrandingImage from "@assets/img/branding.svg";
import InfoCard from "@components/InfoCard.astro";
import ProfessionalAppearanceImage from "@assets/img/professional-appearance.svg";
import StandOutImage from "@assets/img/stand-out.svg";
import MoreClientsImage from "@assets/img/more-clients.svg";
import SaveMoneyImage from "@assets/img/save-money.svg";
import ProjectImage from "@assets/img/project.svg";
import ServersImage from "@assets/img/servers.svg";
import CalculateImage from "@assets/img/calculate.svg";
import BuyingProcessCard from "@components/BuyingProcessCard.astro";
import FeedbackCard from "@components/FeedbackCard.astro";
import BarberBrothersLogo from "@assets/img/bb-logo.svg";
import JKMLogo from "@assets/img/jkm-logo.png";
import ContactForm from "./components/ContactForm.astro";
import Footer from "./components/Footer.astro";
import CookieBanner from "./components/CookieBanner.astro";
---

<Layout lang="de">
  <SEO
    slot="seo"
    title="Wir kümmern uns um Ihr Unternehmen im Internet - Bytereon"
    description="Wir erstellen Webseiten und Onlineshops für kleine und mittelgrosse Unternehmen. Wir erstellen Logos, Banner, Flyer, Visitenkarten und vieles mehr. Kontaktieren Sie uns."
    canonical="https://bytereon.com/de"
    openGraph={{
      title: "Wir kümmern uns um Ihr Unternehmen im Internet - Bytereon",
      description:
        "Wir erstellen Webseiten und Onlineshops für kleine und mittelgrosse Unternehmen. Wir erstellen Logos, Banner, Flyer, Visitenkarten und vieles mehr. Kontaktieren Sie uns.",
      url: "https://bytereon.com/de",
      image: "https://bytereon.com/opengraph-image-de.png",
    }}
  />
  <CookieBanner slot="cookie-banner" />

  <header id="hero" class="full-height w-full max-w-screen-2xl mx-auto">
    <div class="flex flex-col w-full h-full max-w-screen-xl mx-auto px-5">
      <Navbar />
      <div
        class="flex flex-col-reverse md:flex-row h-full w-full justify-center gap-8 sm:gap-20"
      >
        <div
          class="flex flex-col gap-4 sm:gap-8 h-full w-full md:justify-center"
        >
          <h1
            class="font-poppins text-3xl md:text-4xl lg:text-5xl font-bold uppercase tracking-tight max-w-[600px]"
          >
            Glänze in den Augen Deiner Kunden
          </h1>
          <p class="max-w-[480px]">
            Wir sind darauf spezialisiert, nicht nur attraktive, sondern auch
            funktionale Webseiten sowie Grafiken, welche die Glaubwürdigkeit
            Deines Unternehmens erhöhen und Neukundengewinnung unterstützen.
          </p>
          <div class="flex items-center gap-5">
            <Image
              src={ArrowDownImage}
              alt="Zejdź niżej, aby dowiedzieć się więcej"
              loading="eager"
              class="h-8 motion-safe:animate-bounce"
            />
            <p class="text-sm">Mehr Informationen <br /> findest Du unten</p>
          </div>
        </div>
        <Image
          src={HeroImage}
          alt="Dbamy o Twoją firmę w internecie"
          loading="eager"
          class="w-36 md:w-72 lg:w-fit"
        />
      </div>
    </div>
  </header>
  <main>
    <section class="bg-lighter py-16 lg:py-24">
      <div class="max-w-screen-xl mx-auto px-5">
        <div class="flex flex-col gap-5 mb-12">
          <p class="uppercase text-primary text-sm">
            Dein Unternehmen auf dem nächsten Level
          </p>
          <h2
            class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight md:w-2/3"
          >
            Was können wir für dich tun?
          </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1">
          <OfferCard
            image={WebsiteImage}
            title="Webseiten und Online-Shops"
            description="Wir erstellen Webseiten und Online-Shops als wichtiges Instrument zur Stärkung der Reichweite und Sichtbarkeit Ihres Unternehmens."
          />
          <OfferCard
            image={EmailImage}
            title="Email-Postfach für Deine Firma"
            description="Wir bieten personalisierte Emails mit Deiner eigenen Domain nicht nur für Dich, sondern auch für Deine Mitarbeiter. Verleihe Deinem Unternehmen Prestige und unterstreiche seine Professionalität."
          />
          <OfferCard
            image={BrandingImage}
            title="Logos, Visitenkarten, Banner und vieles mehr"
            description="Wir schaffen ein einzigartiges Image für Ihre Marke, steigern den Wiedererkennungswert Ihrer Marke und bauen dauerhafte Kundenbeziehungen auf."
          />
        </div>
      </div>
    </section>
    <section class="py-16 lg:py-24">
      <div class="max-w-screen-xl mx-auto px-5">
        <div class="flex flex-col gap-5 mb-12">
          <p class="uppercase text-primary text-sm">
            Was profitierst Du von unserer Zusammenarbeit
          </p>
          <h2
            class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight md:w-2/3 max-w-[700px]"
          >
            Hebe dich von der Konkurrenz ab und gewinne mehr potenzielle Kunden
          </h2>
        </div>
        <InfoCard
          title="Professionelle Erscheinung"
          description="Mit uns gewinnst Du ein professionelles Image, das die Aufmerksamkeit der Kunden auf Dich zieht. Unsere Dienstleistungen ermöglichen es Deinem Unternehmen, sich zuverlässig und glaubwürdig zu präsentieren, was bei Deinen Kunden Vertrauen schafft."
          image={ProfessionalAppearanceImage}
        />
        <InfoCard
          title="Höhere Sichtbarkeit"
          description="Die Zusammenarbeit mit uns ist der Schlüssel zur Steigerung Deiner Markenbekanntheit. Wir arbeiten daran, Dein Unternehmen leicht erkennbar zu machen, was die Aufmerksamkeit potenzieller Kunden auf Dich zieht."
          image={StandOutImage}
        />
        <InfoCard
          title="Mehr potenzielle Kunden"
          description="Ein professionelles Image und ein höherer Wiedererkennungswert verschafft Dir einen Vorteil bei der Gewinnung neuer Kunden. Eine solide Präsentation erregt Aufmerksamkeit und macht Dein Unternehmen für potenzielle Kunden attraktiver."
          image={MoreClientsImage}
        />
        <InfoCard
          title="Mehr Zeit für Dein Geschäft"
          description="Mit unserer langjährigen Erfahrung und unseren effizienten Prozessen garantieren wir Dir höchste Qualität, die auf Deine Bedürfnisse zugeschnitten ist. Du musst nicht stundenlang im Selbststudium arbeiten. Profitiere von unserem bewährten Know-how!"
          image={SaveMoneyImage}
        />
      </div>
    </section>
    <section class="bg-lighter py-16 lg:py-24">
      <div
        class="max-w-screen-xl mx-auto px-5 flex flex-col gap-12 md:gap-0 md:flex-row md:justify-between md:items-center"
      >
        <div class="w-full">
          <Image
            src={ProjectImage}
            alt="Einzigartige Lösungen und ultraschnelle Ladegeschwindigkeiten"
            loading="lazy"
            class="mx-auto w-64 md:w-72 lg:w-fit"
          />
        </div>
        <div class="flex flex-col gap-8 w-full">
          <h2
            class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight"
          >
            Einzigartige Lösungen und ultraschnelle Ladegeschwindigkeiten
          </h2>
          <p>
            Wir erstellen jede Webseite von Grund auf neu und passen sie an die
            einzigartigen Merkmale Deines Unternehmens. Wir verwenden keine
            vorgefertigten Vorlagen aus dem Internet. Darüber hinaus garantieren
            wir ultraschnelle Ladegeschwindigkeiten dank Top Servern. Ihre
            Webseite lädt im Handumdrehen, ohne Kompromisse.
          </p>
        </div>
      </div>
    </section>
    <section class="py-16 lg:py-24">
      <div
        class="max-w-screen-xl mx-auto px-5 flex flex-col gap-12 md:gap-0 md:flex-row md:justify-between md:items-center"
      >
        <div class="flex flex-col gap-8 w-full">
          <h2
            class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight"
          >
            Vollständige technische Unterstützung
          </h2>
          <p>
            Wir bieten umfassende technische Unterstützung und betreuen die
            Webseite von A bis Z. Wir sind für jeden Aspekt verantwortlich, so
            dass Du keine Zeit mit Lesen von technischen Handbüchern
            verschwendest. Kundenbetreuung ist unser vorrangiges Prinzip. Bei
            uns erhaltest Du ein fertiges Ergebnis und wir erklären Dir alles,
            damit Du fundierte Geschäftsentscheidungen treffen kannst.
          </p>
        </div>
        <div class="w-full">
          <Image
            src={ServersImage}
            alt="Vollständige technische Unterstützung"
            loading="lazy"
            class="mx-auto w-64 md:w-72 lg:w-fit"
          />
        </div>
      </div>
    </section>
    <section class="bg-lighter py-16 lg:py-24">
      <div
        class="max-w-screen-xl mx-auto px-5 flex flex-col gap-12 md:gap-0 md:flex-row md:justify-between md:items-center"
      >
        <div class="w-full">
          <Image
            src={CalculateImage}
            alt="Auf jedes Projekt zugeschnittene Kosten"
            loading="lazy"
            class="mx-auto w-64 md:w-72 lg:w-fit"
          />
        </div>
        <div class="flex flex-col gap-8 w-full">
          <h2
            class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight"
          >
            Auf jedes Projekt zugeschnittene Kosten
          </h2>
          <div class="flex flex-col gap-5">
            <p>
              Aufgrund der Einzigartigkeit jedes Projekts passen wir den Preis
              individuell an. Zum besseren Verständnis der Kostenspanne, Die
              niedrigsten Preise beginnen bei 1'000 CHF und können bei längerer
              Zusammenarbeit auch höher liegen.
            </p>
            <p>
              Sobald das Projekt abgeschlossen ist, hat jeder Kunde die
              Möglichkeit, die Webseite auf unseren ultraschnellen Servern gegen
              eine geringe monatliche Gebühr oder an einem Standort seiner Wahl
              zu betreiben.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-16 lg:py-24">
      <div class="max-w-screen-xl mx-auto px-5">
        <div class="flex flex-col gap-5 mb-12">
          <p class="uppercase text-primary text-sm">
            Wie unsere Zusammenarbeit beginnt
          </p>
          <h2
            class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight md:w-2/3 max-w-[700px]"
          >
            Nur ein paar einfache Schritte, um von unseren Vorteilen zu
            profitieren
          </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-16 sm:gap-8 lg:gap-24">
          <BuyingProcessCard
            index={1}
            title="Erstberatung"
            description="Wir werden über Ihre Ziele sprechen und grob den Umfang der Zusammenarbeit ermitteln."
          />
          <BuyingProcessCard
            index={2}
            title="Konzeption der Massnahmen"
            description="In dieser Phase überprüfen wir sorgfältig die zuvor besprochenen Ziele und sammeln alle notwendigen Informationen."
          />
          <BuyingProcessCard
            index={3}
            title="Beginn der Zusammenarbeit"
            description="Sobald die Materialien bereitstehen, beginnen wir mit der Arbeit."
          />
        </div>
      </div>
    </section>
    <section class="bg-lighter py-16 lg:py-24">
      <div class="flex flex-col gap-5 mb-12 max-w-screen-xl mx-auto px-5">
        <p class="uppercase text-primary text-sm">
          Rückmeldungen unserer Kunden
        </p>
        <h2
          class="font-bold font-poppins uppercase text-2xl md:text-3xl tracking-tight md:w-2/3"
        >
          Was sagen unsere Kunden?
        </h2>
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-1 max-w-screen-xl mx-auto px-5"
      >
        <FeedbackCard
          content="“Die Arbeit von Bytereon war eine echte Revolution für unser Unternehmen. Ihre umfassenden Dienstleistungen, einschließlich Webseitenentwicklung, Hosting, Mailboxen und Grafikdesign für unseren Betrieb, haben uns von der Konkurrenz deutlich hervorgehoben. Dank ihres Engagements haben wir unsere Marketingziele erreicht und gleichzeitig unsere Online-Präsenz erhöht.”"
          author={{
            logoImg: BarberBrothersLogo,
            name: "Kacper Grzybek",
            position: "Mitinhaber",
            url: "https://barberbrothers.pl",
            website: "barberbrothers.pl",
          }}
        />
        <FeedbackCard
          content="“Dank Bytereon hat mein kleines Unternehmen eine solide Online-Präsenz aufgebaut. Ihre Professionalität bei der Erstellung einer Webseite, dem Hosting und der Bereitstellung einer personalisierten Mailbox hat meine Online-Präsenz äusserst effektiv gemacht. Ich habe meine Geschäftsziele erreicht, und die Unterstützung von Bytereon war entscheidend für diesen Erfolg.”"
          author={{
            logoImg: JKMLogo,
            name: "Justyna Malinowska",
            position: "Mitinhaberin",
            url: "https://uroczystosc-marzen.pl",
            website: "uroczystosc-marzen.pl",
          }}
        />
      </div>
    </section>
    <section class="py-16 lg:py-24" id="kontakt">
      <div class="max-w-screen-xl mx-auto px-5">
        <ContactForm />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
